<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="../static/img/icon.png" type="image/x-icon">
	<title>Juego de Agilidad</title>
    <!-- Links Ajenos-->
    <meta name="theme-color" content="#fff">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Potta+One&display=swap" rel="stylesheet">
    <!-- box icons -->
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <!-- Css-->
    <link rel="stylesheet" href="../static/css/GenCss.css">
    <link rel="stylesheet" href="../static/css/SigOrdCss.css">
</head>
<body>
    <nav>
        <div class="nav-container">
            <a href="../Index.html" class="nav-logo">
                SuperGames
            </a>
            <div class="dark-mode-toggle" id="dark-mode-toggle">
                <i class="bx bxs-sun"></i>
                <i class="bx bxs-moon"></i>
            </div>
        </div>
    </nav>
    <h1>NUMS MENOR Y MAYOR</h1>
    <div class="screen-container" id="main_screen">
        <div class="tablero" id="tablero">
            <button class="btnA" id="btn1"></button>
            <button class="btnA" id="btn2"></button>
            <button class="btnA" id="btn3"></button><br>
            <button class="btnA" id="btn4"></button>
            <button class="btnA" id="btn5"></button>
            <button class="btnA" id="btn6"></button><br>
            <button class="btnA" id="btn7"></button>
            <button class="btnA" id="btn8"></button>
            <button class="btnA" id="btn9"></button>
        </div>
        <div class="interfaz">
            <button id="start" onclick="initG()">Start</button>
            <div class="inputs">
                <input type="text" value="0" id="viewPts" disabled>
                <input type="text" id="temp" disabled>
            </div>
        </div>
    </div>
    <script src="../static/js/toggleDark.js"></script>
    <script src="../static/js/SigOrdApp.js"></script>
</body>
</html>